

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    /* font-family: "Karla", sans-serif; */
    font-family: "Karla", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f0e9;
  }

  .skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color:#fff;
    padding: 8px;
    z-index: 100;
    transition: top 0.3s ease;
  }

  h1, h2, h3, nav {
    font-family:"Lato", sans-serif;
  }

  h1{
    font-size: 2.027rem;
    
  }
  h2 {
    font-size: 1.802rem;
  }

  h3 {
    font-size: 1.424rem;
  }

  p {
    font-size: 16px;
  }

  
  header {
    background-color: #000000;
    padding: 10px;
    
  }
  
  .coffee-logo {
    width: 60%;
    margin: auto auto;
  }
  
  header nav {
    text-align: center;
  }
  
  header nav ul {
    display: flex;
    justify-content: center;
  }
  header nav ul li {
    list-style-type: none;
    margin: 10px;
   
  }

  header nav ul li a:hover {
    color: #d69e3d;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
  }
  
  .hero-content {
    position: relative;
    background: url(../images/hero-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
    overflow: hidden;
    
  }
  
  .hero-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    max-width: 1200px;
  }
  
  .hero-content .content {
    position: relative;
    z-index: 2;
    opacity: 0; 
    transform: translateY(-50px); 
    animation: dropDown 1s ease-in-out forwards; /* ANIMATION PROPERTY*/
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .content h1 {
    margin-top: 40px;
    color: #fff;
    margin-bottom: 0;
  }
  
  .content p {
    color: #fff;
    margin: 20px 0;
    margin-top: 20px;
    width: 80%;
  }
  
  .content button {
    width: 200px;
    /* margin: 0; */
    padding: 15px;
    font-weight: bolder;
    text-transform: uppercase;
  }

  .content > button:hover {
    background-color: #d69e3d;
    border: 1px solid #fff;
    color: #fff;
  }
  
  /* animation */
  @keyframes dropDown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .coffee-shop {
    background-color: #f3f0e9;
    margin-top: 50px;
    max-width: 1200px;
   
  }
  
  .coffee-shop  p {
    text-transform: uppercase;
    font-weight: bold;
    color: #d69e3d;
    margin-bottom: -20px;

  }
  
  .coffee-shop > h2 {
    width: 90%;
  }
  
  .top-image {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
  }
  
  .coffee-picture img {
    width: 100%;
    margin: auto auto;
  }
  .coffee-picture {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 1200px;
  }

  
  .offerings {
    text-align: center;
    margin-top: 50px;
  }

  #off {
    margin-bottom: -20px;
  }
  
  .offerings-image {
    margin: auto;
    text-align: center;
  }

  .offerings p {
    color: #d69e3d;
  }
  
  .offerings-image p {
    width: 85%;
    margin: auto;
    color: #000000;
    margin-bottom: 50px;
  }
  
  .locations {
    position: relative;
    background: url(/images/coffee-shop.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
    overflow: hidden;

  }

  .locations > .contents {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    max-width: 1200px;

  }
  
  
  .locations div:first-child {
    padding-top: 18px;
  }

  .locations p {
    text-transform: uppercase;
  }
  
  .locations div:first-child > p {
    color: #d69e3d;
  }
  
  .locations div:first-child > h3 {
    color: #fff;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .locations div:first-child > button {
    background-color: #fff;
    padding: 15px;
    width: 200px;
    color: #000000;
    margin-top: 10px;
    font-weight: bolder;
    border: none;
    margin-bottom: 20px;
    
  }

  .locations div:first-child > button:hover {
    background-color: #d69e3d;
    color: #fff;
  }


  .locations div:last-child p {
    color: #d69e3d;
  }
  
  .locations div:last-child > h3 {
    color: #fff;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .locations div:last-child > button {
    background-color: transparent;
    padding: 15px;
    color: #fff;
    margin-top: 10px;
    font-weight: bolder;
    border: 2px solid #fff;
    cursor: pointer;
    width: 200px;
  }

  .locations div:last-child > button:hover {
    background-color: #fff;
    color: #000000;
  }


  
  .about img {
    width: 100%;
    margin-top: 80px;
  }
  .about {
    margin-bottom: 50px;
    margin-left: 10px;
    max-width: 1200px;
  }
  
  .about-shop p {
    font-size: 16px;
    color: #000;
  }

  .abouts p {
    color: #d69e3d;
    margin-bottom: -20px;
  }
  .about-shop > button {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    margin-bottom: 100px;
  }

  .about-shop > button:hover {
    background-color: #fff;
    color: #000000;
  }
  
  .testimonials {
    background-color: #000000;
    padding: 10px;
    color: #f3f0e9;
  }

  .testimonials h1 {
    color: #fff;
  }
  
  .testimonials > blockquote, p {
    color: #d69e3d;
  }
  .testimonials p {
    margin-top: 80px;
    margin-bottom: -20px;

  }
  
  .testimonials  {
    width: 100%;
    padding: 20px;
    margin-left: -15px;
  }
  
  .Jane {
    position: relative;
    background: url(/images/testimonial-1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -20px;
    height: 500px;
    text-align: center;
    margin-bottom: 40px;
    background-color: #000000;
  }
  
  .Scott {
    position: relative;
    background: url(/images/testimonial-2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -20px;
    height: 500px;
    text-align: center;
    margin-bottom: 40px;
    background-color: #000000;
  }
  
  .Susie {
    position: relative;
    background: url(/images/testimonial-3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -20px;
    height: 500px;
    text-align: center;
    margin-bottom: 40px;
    background-color: #000000;
  }
  
  .Jane::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  
  .Scott::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  
  .Susie::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  .Jane .content {
    position: relative;
    z-index: 2;
    opacity: 0; 
    transform: translateY(-50px); 
    animation: dropDown 1s ease-in-out forwards; 
  }
  
  .Scott .content {
    position: relative;
    z-index: 2;
    opacity: 0; 
    transform: translateY(-50px); 
    animation: dropDown 1s ease-in-out forwards; 
  }
  
  .Susie .content {
    position: relative;
    z-index: 2;
    opacity: 0; 
    transform: translateY(-50px); 
    animation: dropDown 1s ease-in-out forwards; 
  }
  
  .Jane .content > blockquote {
    margin-top: 300px;
    text-align: left;
    width: 95%;
  }
  
  .Scott .content > blockquote {
    margin-top: 400px;
    text-align: left;
    width: 95%;
   
  }
  
  .Susie .content > blockquote {
    margin-top: 400px;
    text-align: left;
    width: 95%;
  }
  
  .Jane .content > h4 {
    color: #d69e3d;
    text-align: left;
    text-transform: uppercase;
    margin-left: -225px;
  }
  
  .Scott .content > h4 {
    color: #d69e3d;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0;
    margin-left: -225px;
  }
  
  .Susie .content > h4 {
    color: #d69e3d;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0;
    margin-left: -225px;
  }

  .testimonial-part {
    max-width: 1200px;
  }
  

  
  
  footer {
    width: 100%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    margin-top: -10px;
    padding: 10px;
  }

  footer p {
    color: #fff;
  }

   /* Tablet screen  */
  @media (min-width: 768px){

    h1{
      font-size: 2.986rem;
      
    }
    h2 {
      font-size: 2.488rem;
    }

    h3 {
      font-size: 1.728rem;
    }

    p {
      font-size: 1rem;
    }



  .hero-content {
    position: relative;
    background: url(/images/hero-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center; 
  }
  
  .hero-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
  }
  
  .hero-content .content {
    position: relative;
    z-index: 2;
    opacity: 0;
    transform: translateY(-50px); 
    animation: dropDown 1s ease-in-out forwards; 
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
   
  }
  
  .content h1 {
    margin-top: 40px;
    color: #fff;
    width: 85%;
  }
  
  .content p {
    color: #fff;
    margin: 20px 0;
    margin-top: 20px;
    width: 80%;
  }
  
  .content button {
    width: 200px;
    padding: 15px;
    font-weight: bolder;
    text-transform: uppercase;
  }

  .content > button:hover {
    background-color: #d69e3d;
    border: 1px solid #fff;
    color: #fff;
  }
  
  @keyframes dropDown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


    .coffee-shop > h2 {
      width: 45%;
    }

    .coffee-shop  p {
      margin-bottom: -40px;
    }
    .coffee-shop .picture {
      display: flex;
  
      width: 100%;
  
      margin: 10px;
    }

    .locations {
      position: relative;
      background: url(/images/coffee-shop.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 370px;
      text-align: center;
    }

    .locations .contents {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
    }

    .locations div:first-child > h3 {
      color: #fff;
      width: 60%;
      margin: auto;
      margin-bottom: 20px;
    }

    .locations div:last-child  {
      padding-top: 20px;
      
     
    }

    .locations div:last-child > h3 {
      color: #fff;
      width: 60%;
      margin: auto;
      margin-bottom: 20px;
    }
  
    .about {
      display: flex;
      justify-content: space-around;
      align-content: center;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px ;
    }
  
    .about div:first-child {
      width: 100%;
      margin-left: 20px;
    }
  
    .about div:last-child {
      width: 100%;
      margin-top: 8px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .about-shop {
      padding-top: 70px;
    }

    .abouts p {
      margin-bottom: -20px;
      margin-left: -15px;
    }

    .about-shop h3 {
      margin-bottom: -10px;
    }

    .offerings-part {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    .offerings-image img {
      max-width: 100%;
      height: auto;
    }
     .offerings-image-center{
      grid-column: span 2;
      justify-self: center;
      width: 50%;
     }
     #love {
      align-items: center;
      width: 100%;
      margin-left: 200px;
      margin-bottom: 100px;
     }




  
    .offerings-part > div img {
      width: 40%;
    }


  
    .coffee-picture {
      margin: 10px;
    }
    .testimonial-part > .content h1 {
      font-weight: bolder;
      margin-top: 40px;
      color: #fff;
      margin-bottom: 0;
      width: 25%;
    }
  
    .content blockquote {
      color: #fff;
      margin: 20px 0;
      margin-top: 20px;
      width: 55%;
    }
  
    .testimonial-part {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
  
    .testimonial-part > div {
      width: 100%;
    }
  
    .Jane .content > blockquote {
      margin-top: 400px;
    }
    .Jane .content > h4 {
      color: #d69e3d;
      text-align: left;
      text-transform: uppercase;
      margin-top: 0;
      margin-left: -110px;
      margin-top: -15px;
    }
  
    .Scott .content > h4 {
      color: #d69e3d;
      text-align: left;
      text-transform: uppercase;
      margin-top: 0;
      margin-left: -110px;
    }
  
    .Susie .content > h4 {
      color: #d69e3d;
      text-align: left;
      text-transform: uppercase;
      margin-top: 0;
      margin-left: -110px;
    }
  }

  .testimonials {
    padding-bottom: 60px;
  }
  
  /* Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  h1 {
    animation: fadeIn 1s ease-in-out;
  }
  /* Desktop Styles (min-width: 1100px) */
  @media (min-width: 1100px) {

    h1{
      font-size: 3.815rem;
      
    }
    h2 {
      font-size: 3.052rem;
    }

    h3 {
      font-size: 1.953rem;
    }

    p {
      font-size: 1rem;
    }


    .hero-content {
      position: relative;
      background: url(/images/hero-background.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: -20px;
      height: 800px;
      text-align: center;
    }
    
  
    nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  
    .coffee-logo {
      width: 200px;
      margin-left: 100px;
      padding-top: 18px;
    }
  
    header nav ul {
      justify-content: space-between;
      padding-bottom: 15px;
    }
  
    header nav ul li a:hover {
      color: #d69e3d;
    }
  
    .content > button:hover {
      background-color: #d69e3d;
      border: 1px solid #fff;
      color: #fff;
    }

    .content h1 {
      width: 45%;
    }
  

    .picture {
      max-width: 1200px;
      padding-left: 150px;
    }

    .coffee-shop p, h2 {
      margin-left: 150px;
    }
    .offerings-part {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      margin: 0 auto;
    }
  
    #trade {
      width: 70%;
    }

    #goods {
      margin-left: 200px;
      width: 70%;
    }
    #love {
      width: 70%;
      margin-top: 90px;
    }
    .offerings-part > div img {
      width: 100%;
    }

    .offerings h2 {
      margin-left: 20px ;
    }

  
    .locations {
      position: relative;
      background: url(/images/coffee-shop.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 370px;
      text-align: center;
      padding-right: 0 ;
      overflow: hidden;
      margin-bottom: 50px;
      padding-bottom: 50px;
    }

    .locations .contents {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
    }

    .locations div:first-child > h3 {
      color: #fff;
      width: 75%;
      margin: auto;
      margin-bottom: 20px;
    }

    .locations div:first-child  {
      padding-top: 50px;
      padding-left: 150px;
    }
    .locations div:last-child  {
      padding-top: 20px;
      padding-right: 170px;
    }

    .locations div:last-child > h3 {
      color: #fff;
      width: 100%;
      margin: auto;
      margin-bottom: 20px;
    }
  

  
    .contents div:last-child {
      margin-top: 40px;
    }
  
    .about {
      display: flex;
      justify-content: space-around;
      align-content: center;
      width: 80%;
      margin: auto auto;
    }
  
    .about div:first-child {
      width: 100%;
      margin-bottom: 80px;

    }

    .abouts p {
      margin-bottom: -70px;
      margin-left: -20px;
    }
    .about div:last-child {
      width: 100%;
      margin-top: 200px;
    }
  
    .testimonial-part > .content h1 {
      font-weight: bolder;
      margin-top: 40px;
      color: #fff;
      margin-bottom: 0;
      width: 25%;
    }
  
    .content blockquote {
      color: #fff;
      margin: 20px 0;
      margin-top: 20px;
      width: 55%;
    }

    #test {
      margin-left: 170px;

    }

    .testimonials h2 {
      margin-left: 170px;
    }
  
    .testimonial-part {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      margin: auto auto;
    }
  
    .testimonial-part > div {
      margin: 20px;
      width: 100%;
    }
  
    .Jane .content > blockquote {
      margin-top: 400px;
    }
    .Jane .content > h4 {
      color: #d69e3d;
      text-align: left;
      text-transform: uppercase;
      margin-top: 0;
      margin-left: -210px;
    }
  
    .Scott .content > h4 {
      color: #d69e3d;
      text-align: left;
      text-transform: uppercase;
      margin-top: 0;
      margin-left: -210px;
    }
  
    .Susie .content > h4 {
      color: #d69e3d;
      text-align: left;
      text-transform: uppercase;
      margin-top: 0;
      margin-left: -210px;
    }
  }
  
  /* Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  h1 {
    animation: fadeIn 1s ease-in-out;
  }